<h2>Leave Request List</h2>

<table>
  <thead>
    <tr>
      <th>Desc</th>
      <th>Leave Type</th>
      <th>Leave Date</th>
    </tr>
  </thead>
  <tbody>
    @for (leaveRequest of leaveRequests; track leaveRequest.id) {
    <tr>
      <td>{{ leaveRequest.description }}</td>
      <td>{{ leaveRequest.leaveType }}</td>
      <td>{{ getLeaveDate(leaveRequest.leaveDate) }}</td>
      <td>
        <button [routerLink]="['/leaverequest/', leaveRequest.id]">Edit</button>
      </td>
    </tr>
    }
  </tbody>
</table>

<div>
  <button
    [routerLink]="['/leaverequest/new']"
    routerLinkActive="router-link-active"
  >
    Add New Leave Request
  </button>
</div>
