<h2>Leave Request List</h2>

<table>
  <thead>
    <tr>
      <th>Desc</th>
      <th>Leave Type</th>
      <th>Leave Date</th>
    </tr>
  </thead>
  <tbody>
    @for (leaveRequest of leaveRequests$ | async; track leaveRequest.id) {
    <tr>
      <td>{{ leaveRequest.description }}</td>
      <td>{{ leaveRequest.leaveType }}</td>
      <td>{{ getLeaveDate(leaveRequest.leaveDate) }}</td>
      <td>
        <button [routerLink]="['/leaverequests/', leaveRequest.id]">
          Edit
        </button>
      </td>
      <td>
        <button type="button" (click)="deleteLeaveRequest(leaveRequest.id!)">
          Delete
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>

<div>
  <button
    [routerLink]="['/leaverequests/new']"
    routerLinkActive="router-link-active"
  >
    Add New Leave Request
  </button>
</div>
